<ion-view title="Manual Control" id="page2" class=" " style="background-color: grey;" >
    <ion-content padding="false" class="has-header" >
        <ion-list>
            <div class="button-bar" style="background-color: white;" >
                <button ng-click="force_inclusion_mode();" class="button button-small {{get_current_inclusion_mode().button_color;}}">{{ get_current_inclusion_mode().button_text; }}</button>
                <button ng-click="$scope.apply();" class="button button-small button-dark">Get Nodes</button>
                <button class="button button-small button-dark">Do somehting</button>
            </div>
            
          <ion-item ng-repeat="node in nodes">
            <div class="card list">
                <div class="bar bar-header">
                    <h2 class='title'>  
                    <Strong>{{node.display_name.toUpperCase()}}</Strong></h2>
                    <button href="/nodes/{{node._id}}" class="button icon ion-gear-a "> Edit</button>
                </div>
                <div class="item">
                    <br><br>
                    
                    <span> <strong> <font color='red'> {{get_node_alive_status(node.alive)}} </font> </strong> <br> <span>
                    <strong> DEVICE: </strong> {{node.node_name}} <br>
                    <strong> BATTERY LEVEL:  </strong>  {{node.bat_level}} % <br>
                    <strong> LAST SEEN : </strong> {{ get_date(node.last_seen) }}
                    <span ng-hide='node.sensors.length > 0'> <strong> <font color='red'> <br>NO SENSORS ON THIS NODE </font> </strong> </span>
                    <ion-list>
                        <ion-item ng-repeat="sensor in node.sensors">
                            <div class="card list">
                                <div class="item item-divider">
                                    {{sensor.sensor_name}} : {{sensor.sensor_display_name.toUpperCase()}}
                                </div>
                                <div class="item" ng-repeat="(variable, value) in sensor.variables">
                                    
                                    <!-- Motor Controller (cover) -->
                                    <button class="button button-full {{get_boolean_button_color(value)}} button-large" ng-hide='check_sensor_type({{sensor.sensor_type}}) != "cover" '
                                        ng-click='update_boolean_sensor_var( {{node._id}}, {{sensor.sensor_id}}, {{variable}}, 1 );'> 
                                        {{ vartype_toString( variable, value ); }}
                                    </button>
                                    
                                    <!-- Smart Switch -->
                                    <ion-toggle ng-hide='check_sensor_type({{sensor.sensor_type}}) != "binary"' 
                                    toggle-class="toggle-ballanced">{{ vartype_toString( variable, value ); }}</ion-toggle>

                                    <!-- This displays the text in the box, button, switch, etc. --> 
                                    <strong> {{ parse_var_and_value(variable, value) }} </strong>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
          </ion-item>
        </ion-list>    
    </ion-content>
</ion-view>